.input-section h2, .input-section h6 {
  color: #272727;
  font-family: "Londrina Solid", cursive;
}

.input-section button, .input-section input {
  font-family: "Nunito", sans-serif;
  color: #f9f7f5;
}

.input-section i {
  color: #272727;
}

.input-section button i, .input-section input i {
  color: #f9f7f5;
}

.input-section h2 {
  font-size: 2.4rem;
  margin: 0;
}

.input-section h6 {
  font-size: 1.1rem;
  margin: 7px 0;
}

.input-section .fa-smile {
  margin-left: 5px;
}

@media (min-width: 600px) {
  .input-section h6 {
    font-size: 1.3rem;
  }
}
@media (min-width: 769px) {
  .input-section h2 {
    font-size: 3.1rem;
  }

  .input-section h6 {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  .input-section h6 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .input-section h2 {
    font-size: 4rem;
    margin: 0;
  }

  .input-section h6 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .input-section .fa-smile {
    margin-left: 10px;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 30px;
  background-color: #272727;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14a76c;
  padding: 20px 20px 30px 20px;
  border-radius: 20px;
  border: 2px outset rgba(100, 100, 100, 0.7);
}

@media (min-width: 1025px) {
  .content-container {
    padding: 20px;
    width: 900px;
  }
}
.input-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input-section .img, .input-section img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.input-section .text {
  width: 100%;
}

.input-section .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-section .input-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 35px;
}

.input-section .email {
  background-color: #272727;
  border: 2px solid #272727;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-section .submit {
  padding: 0 15px;
  border: 2px solid rgba(249, 247, 245, 0);
  border-radius: 5px;
  background-color: #272727;
}

.input-section .submit:hover {
  border: 2px solid #f9f7f5;
}

.input-section .submit:focus {
  outline: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .input-section .bottom-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }

  .input-section .input-submit {
    width: 46%;
  }
}
@media (min-width: 1025px) {
  .input-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .input-section .img, .input-section img {
    margin: 0;
    width: 450px;
  }

  .input-section .input-submit {
    width: 100%;
  }

  .input-section .submit {
    margin-right: 20px;
  }
}
.image-zone {
  height: 0px;
  width: 100%;
  margin-top: 0px;
  background-color: #f9f7f5;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}