.input-section h2, .input-section h6 {
  color: #272727;
  font-family: "Londrina Solid", cursive;
}

.input-section button, .input-section input {
  font-family: "Nunito", sans-serif;
  color: #f9f7f5;
}

.input-section i {
  color: #272727;
}

.input-section button i, .input-section input i {
  color: #f9f7f5;
}

.input-section h2 {
  font-size: 2.4rem;
  margin: 0;
}

.input-section h6 {
  font-size: 1.1rem;
  margin: 7px 0;
}

.input-section .fa-smile {
  margin-left: 5px;
}

.image-zone p {
  font-family: "Londrina Solid", cursive;
  color: #f9f7f5;
}

.image-zone .email-section-container h2 {
  font-family: "Londrina Solid", cursive;
  color: #272727;
}

.github-link {
  font-family: "Londrina Solid", cursive;
  color: rgba(249, 247, 245, 0.6);
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: capitalize;
}

.github-link:hover {
  color: #f9f7f5;
}

@media (min-width: 600px) {
  .input-section h6 {
    font-size: 1.3rem;
  }
}
@media (min-width: 769px) {
  .input-section h2 {
    font-size: 3.1rem;
  }

  .input-section h6 {
    font-size: 1.1rem;
  }
}
@media (min-width: 900px) {
  .input-section h6 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .input-section h2 {
    font-size: 4rem;
    margin: 0;
  }

  .input-section h6 {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .input-section .fa-smile {
    margin-left: 10px;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 30px;
  background-color: #272727;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 1000000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #14a76c;
  padding: 20px;
  border-radius: 20px;
  border: 2px outset rgba(100, 100, 100, 0.7);
}

.github-link {
  margin: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.github-link i {
  position: relative;
  top: 2px;
  margin-left: 7px;
}

@media (min-width: 1025px) {
  .content-container {
    padding: 20px;
    width: 900px;
  }
}
@media (min-width: 1250px) {
  .content-container {
    padding: 20px;
    width: 1140px;
  }
}
.input-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input-section .img {
  background-position: bottom;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.input-section .text {
  width: 100%;
}

.input-section .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-section .input-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 35px;
}

.input-section .email {
  background-color: #272727;
  border: 2px solid #272727;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-section .submit {
  padding: 0 15px;
  border: 2px solid rgba(249, 247, 245, 0);
  border-radius: 5px;
  background-color: #272727;
}

.input-section .submit:hover {
  border: 2px solid #f9f7f5;
}

.input-section .submit:focus {
  outline: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .input-section .bottom-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }

  .input-section .input-submit {
    width: 46%;
  }
}
@media (min-width: 1025px) {
  .input-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .input-section .img {
    margin: 0;
    height: 500px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .input-submit .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .input-section .input-submit {
    width: 420px;
  }

  .input-section .submit {
    margin-right: 20px;
  }
}
@media (min-width: 1250px) {
  .input-section .input-submit {
    width: 500px;
  }
}
.image-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0px;
  max-height: 1000000px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.image-zone .extra-layer {
  position: relative;
}

.image-zone .email-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  border-radius: 5px;
  background-color: #272727;
  overflow-x: auto;
  margin-top: 10px;
}

.image-zone .email-section-container h2 {
  position: absolute;
  left: 0;
  top: -0.6rem;
  background-color: rgba(249, 247, 245, 0.6);
  border-radius: 5px 0;
  padding: 7px 12px;
  z-index: 1;
}

.email-section-container .list-item-img {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 350px;
  background-position: center;
  background-size: cover;
}

.email-section-container .following-imgs {
  margin-right: 2px;
}

.email-section-container .list-item-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: rgba(100, 100, 100, 0.4);
}

.email-section-container div .list-item-info p {
  margin: 0 0 10px 0;
}

@media (min-width: 1250px) {
  .email-section-container .list-item-img {
    min-width: 550px;
  }
}