
$main-green: rgba(20,167,108, 1);

$main-gray: rgba(39,39,39,1);
$main-gray-clearish: rgba(39,39,39,.8);
$main-gray-clear: rgba(39,39,39,0);
$main-light-gray: rgba(100,100,100,1);
$main-light-gray-clear: rgba(100,100,100,.7);
$main-light-gray-extra-clear: rgba(100,100,100,.4);



$off-white: rgba(249,247,245, 1);
$off-white-clearish: rgba(249,247,245,.6);
$off-white-clear: rgba(249,247,245,0);
