@use "utilities/variables";

.image-zone {
  height: 0px;
  max-height: 1000px;
  width: 100%;
  margin-top: 0px;
  background-color: variables.$off-white;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.image-zone div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 100px;
  max-height: 100px;
  background-color: blue;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}

.image-zone div img {
  flex-grow: 1;
  width: 35%;
  border-radius: 20px;
}
