@use "utilities/variables";

.input-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-section .img {
  background-position: bottom;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.input-section .text {
  width: 100%;
}

.input-section .bottom-row {
  display: flex;
  flex-direction: column;
}

.input-section .input-submit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35px;
}

.input-section .email {
  background-color: variables.$main-gray;
  border: 2px solid variables.$main-gray;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 20px;
  flex-grow: 1;
}

.input-section .submit {
  padding: 0 15px;
  border: 2px solid variables.$off-white-clear;
  border-radius: 5px;
  background-color: variables.$main-gray;
}

.input-section .submit:hover {
  border: 2px solid variables.$off-white;
}

.input-section .submit:focus {
  outline: none;
}


// Media Queries -------------------------
@media (min-width:769px) and (max-width:1024px) {
  .input-section .bottom-row {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .input-section .input-submit {
    width: 46%;
  }
}

@media (min-width:1025px) {
  .input-section {
    flex-direction: row;
    align-items: flex-start;
  }

  .input-section .img {
    margin: 0;
    height: 500px;
    flex-grow: 1;
  }

  .input-submit .text {
    display: flex;
  }

  .input-section .input-submit {
    width: 420px;
  }

  .input-section .submit {
    margin-right: 20px;
  }
}

@media (min-width:1250px) {
  .input-section .input-submit {
    width: 500px;
  }
}
